
# /ElectricAudio/
/ElectricAudio/build

# /ElectricAudio/ElectricAudio.xcodeproj/
/ElectricAudio/ElectricAudio.xcodeproj/bertmcdowell.mode1v3
/ElectricAudio/ElectricAudio.xcodeproj/bertmcdowell.pbxuser
